@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
body{
	background: #393d42;
	font-family: "微软雅黑";
}
a{
	text-decoration: none;
}
ul,li{
	list-style: none;
}
img{
	border: none;
}
.content{
	width: 1050px;
	height: 355px;
	margin: 219px auto;
	background: #ebebeb;
}
.leftPic{
	width: 700px;
	height: 355px;
	float: left;
}
.loginWarp{
	width: 302px;
	height: 307px;
	float: left;
	padding: 24px;
}
#loginbox{
	width: 100%;
	height: 100%;
}
#loginbox h6{
	height: 32px;
	width: 100%;
	line-height: 32px;
	font-size: 18px;
	color: #2d2d2d;
	margin-bottom: 20px; 
}
#loginbox i{
	width: 45px;
	height: 42px;
	float: left;
}
#loginbox .nameI{
	background: #e6e6e6 url(../img/username.png) no-repeat 50%;
}
#loginbox .passI{
	background: #e6e6e6 url(../img/password.png) no-repeat 50%;
}
#userInp,#passInp{
	width: 255px;
	height: 40px;
	text-indent: 12px;
	border: 1px solid #e6e6e6;
	outline: none;
}
#userSp,#passSp,#btnSp{
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	margin-left: 12px;
}
#loginBtn{
	width: 100%;
	height: 42px;
	background: #eb6100;
	color: #fff;
	font-size: 16px;
	border: none;
	outline: none;
	cursor: pointer;
	/*margin-bottom: 15px;*/
}
#loginbox .zhuP{
	color: #2d2d2d;
	font-size: 14px;
}
#loginbox .zhuP a{
	color: #2666b5;
	font-weight: 600;
}
#loginbox .zhuP a:hover{
	color: blue;
}
.footer{
	width: 100%;
	height: 200px;
	background: #292e41;
}
.footer iframe{
	width: 1170px;
	height: 200px;
	display: block;
	margin: 0 auto;
}